@media screen and (min-width: 1080px) {
  nav {
    height: 60px;
    display: flex;
    justify-content: space-between;
  }

  .nav-container {
    height: 60px;
    padding-left: 6.9%;
    padding-right: 6.9%;
  }

  .logo {
    width: 36px;
    height: 36px;
  }

  .logo-imagen {
    width: 100%;
  }

  .show-icon-menu {
    display: none;
  }

  .menu-container {
    display: block;
    position: static;
    box-sizing: border-box;
    background-color: transparent;
    padding-top: 0;
    padding-left: 0;
    margin-left: 0;
    width: fit-content;
  }

  .menu-container ul {
    flex-direction: row;
  }

  .menu-container ul a {
    color: #060a24;
    margin-left: 48px;
    margin-bottom: 0;
    font-size: 16px;
  }

  .menu-container ul a:hover {
    color: #00f3bb;
    text-decoration: line-through;
  }

  .menu-container ul a:active {
    color: #060a248f;
    text-decoration: line-through;
  }
  h1 {
    margin-left: 10%;
    font-size: 64px;
  }
  .point-blue {
    color: #0000ec;
  }
  .break-mobile {
    display: none;
  }
  .text-desktop {
    font-family: "IBM Plex Mono", monospace;
    text-align: left;
    display: inline-block;
    margin-left: 10%;
    padding-top: 16px;
    font-size: 16px;
    line-height: 24px;
  }
  .text-mobile {
    display: none;
  }
  .container-button-conoce {
    justify-content: left;
  }
  .button {
    font-size: 18px;
    padding: 16px 59px 16px 59px;
  }
  .button-conoce {
    margin-left: 10%;
    margin-top: 4%;
  }
  .container-polygon {
    clip-path: polygon(0 12%, 100% 0%, 100% 88%, 0% 100%);
    padding-top: 80px;
    height: 960px;
  }
  h2 {
    font-size: 48px;
    line-height: 62px;
  }
  .h2-episodios {
    margin-left: 10%;
  }
  .iframes-spoty {
    width: 40%;
    height: 80%;
    padding-bottom: 7vh;
  }
  .article-cellphone-text {
    display: flex;
  }
  .img-cellphone {
    width: 30vw;
    margin-left: 13%;
  }
  .section-venimos {
    width: 36.5vw;
    margin-top: 28vh;
    margin-left: 4.4vw;
  }
  .text-venimos {
    font-size: 16px;
  }

  .h2-invitates {
    margin-top: -8vh;
    margin-left: 10%;
    margin-bottom: 5vh;
  }
  .container-img-invitates {
    display: flex;
    flex-wrap: wrap;
  }
  .img-invitates {
    width: 33.33%;
  }
  .h2-nuestros-temas {
    margin-left: 10%;
    margin-top: 6vh;
  }
  .container-svg {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .imgs-svg {
    justify-content: flex-start;
    padding-right: 25px;
    padding-left: 25px;
  }
  h3 {
    margin-top: 4vh;
  }
  .polygon-ult-nov {
    clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
    padding-top: 20vh;
    padding-bottom: 60vh;
  }

  .container-button-escucha {
    justify-content: center;
  }
  footer {
    justify-content: space-between;
  }
  .pfooter {
    font-size: 16px;
    padding: 36px 0 36px 0;
    margin-left: 9vw;
  }
  .container-icons {
    margin-right: 9vw;
  }
  .fab {
    padding: 36px 18px 36px 18px;
  }
}
